* {
    background-image: url(/images/OrangeBackground.jpg);
    text-wrap: normal;
    text-align: center;
    text-align: match-parent;
    font-weight: bold;
    font-size: inherit;
}

h5{
    text-align: right;
}
