extends layout

block content
            include header.pug

            //Adding items page
            //Let's the user add the item's they wish to sell on the marketplace.
            h1 Add the Item you wish to sell

            //Creating a footer for all of my pages
            include footer.pug