extends layout

block content
 h1
   a(href='/listings' title='View Listing') View Listings
 ink(rel='stylesheet', href='/stylesheets/main.css')
 link(rel='stylesheet', href='/stylesheets/_variables.scss')
 link(rel='stylesheet', href='/stylesheets/bootstrap.css')
 link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
 link(rel='stylesheet', href='/stylesheets/bootswatch.scss')
 link(rel='stylesheet', href='/stylesheets/main.css')
 h1 Add A New Listing
  form(method='post' action='/listings/add')
    div
        label Name
        input(name='name' required placeholder='Name')
    div
        label Description
        input(name='description' required placeholder='Description')
    div
        label Location
        input(name='location' required placeholder='Location')
    div
        label Price
        input(name='price' required placeholder='Price' type='number')
    input(type='submit' value='Add Listing')