extends layout

block content
            //Creating a header for all of my pages
            h2 <a href="./home">Home </>
            h2 <a href="./listings">Listings </>

            //Adding items page
            h1 Add the Item you wish to sell