extends layout

block content

            //Adding items page
            h1 Add the Item you wish to sell

            //Creating a footer for all of my pages
            h2 <a href="./home">Home </>
            h2 <a href="./listings">Listings </>
            h2 <a href="./add"> Add an Item </>
            h2 <a href="./login"> Login </>
            h2 <a href="./register"> Register </>