extends layout

block content
 a(href='/listings' title='List Listing') List Listings
 h1 Add A New Listing
  form(method='post' action='/listings/add')
    div
        label Name
        input(name='name' required placeholder='Name')
    div
        label Description
        input(name='description' required placeholder='Description')
    div
        label Location
        input(name='location' required placeholder='Location')
    div
        label Price
        input(name='price' required placeholder='Price' type='number')
    input(type='submit' value='Add Listing')