doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content

    h5 Copyright Tyler's Website Building Ltd. 
      //Making a footer for all of my web pages to say "Copyright etc."