doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
        h2
            a(href="./home") Home                                                                       
         
            a(href="./listings") Listings                                                   
         
            a(href="./add") Add an Item                                                         
         
            a(href="./login") Login                                                                         
         
            a(href="./register") Register                                                       