doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
            //Creating a footer for all of my pages
            h2 <a href="./home">Home </>
            h2 <a href="./listings">Listings </>
            h2 <a href="./add"> Add an Item </>
            h2 <a href="./login"> Login </>
            h2 <a href="./register"> Register </>