extends layout

block content
            include header.pug

            //Home page, will show at the start, letting users know what the website is, and what its for/what users can do
            h1 Tyler's Trade and Swap
            h3 If you have items that you want to sell, list them on here and buyer's will read the ad's

            include footer.pug