extends layout

block content
 include header.pug
 h1 
    a(href="./listings/add") [Add a Listing] 
 h1 Listings
 table
    thead
        th Name
        th Description
        th Location
        th Price
        th Edit
        th Delete
    tbody
        each listing in allListings
            tr
                td #{listing.name}
                td #{listing.description}
                td #{listing.location}
                td #{listing.price}
                td
                    a(href="/listings/edit/"+listing._id)
                        |Edit
                td
                    a(href="/listings/delete/"+listing._id title="Delete" onclick="return confirm(\'Are you sure you want to delete this listing?\');")
                        |Delete
 include footer.pug