extends layout

block content
            //Creating a header for all of my pages
            h1 These are the current listings, click on them to open and get more information!
            h3 If you have items listed, you can Edit them (Price/Name/etc.) , or delete them if you have sold them or no longer want to sell.

            h2 <a href="./index">Home </>
            h2 <a href="./listings">Listings </>
            h2 <a href="./projectspage">Projects Made</>
            h2 <a href="./services">Services </>
            h2 <a href="./contactme">Contact Me </> 