extends layout

block content

            include header.pug

            //Page will let the user enter their email (username) and password, if it matches the database, user will be logged in
            //Depending on which user, they can upload a listing or edit their own listing.
            h1 Please enter your email and password 

            include footer.pug