extends layout

block content
            //Creating a header for all of my pages
            h2 <a href="./home">Home </>
            h2 <a href="./listings">Listings </>

            h1 Please enter your email and password