extends layout

block content

            include header.pug

            //Page will let the user enter their email (username) and password, if it matches the database, user will be logged in
            //Depending on which user, they can upload a listing or edit their own listing.
            h1 Please enter your email and password 
              form(method='post' action='/register')
                div
                    label Username
                    input(name='username' required placeholder='Username')
                div
                    label Password
                    input(name='password' require placeholder='Password')
                div
                input(type='submit' value='Login')
            include footer.pug