extends layout

block content

            h1 Please enter your email and password

            //Creating a footer for all of my pages
            h2 <a href="./home">Home </>
            h2 <a href="./listings">Listings </>
            h2 <a href="./add"> Add an Item </>
            h2 <a href="./login"> Login </>
            h2 <a href="./register"> Register </>