extends layout

block content
            //Creating a header for all of my pages
            h2 <a href="./home">Home </>
            h2 <a href="./listings">Listings </>

            h1 Register an Account!
            h2 Would you like to create an account to list items on our site?