extends layout

block content
            
            h1 Register an Account!
            h2 Would you like to create an account to list items on our site?

            //Creating a footer for all of my pages
            h2 <a href="./home">Home </>
            h2 <a href="./listings">Listings </>
            h2 <a href="./add"> Add an Item </>
            h2 <a href="./login"> Login </>
            h2 <a href="./register"> Register </>